name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.101
    - name: Restore dependencies
      run: dotnet restore Sva.Core.sln
    - name: Build
      run: dotnet build Sva.Core.sln --no-restore
    - name: Test
      run: dotnet test Sva.Core.sln --no-build --verbosity normal
